@import url('https://fonts.googleapis.com/css?family=Roboto');

#conteudo {
	width: 600px;
	margin: 0 auto;
}

div.imgL {
	float: left;
}

div.imgR {
	float: right;
}

div.imgR img {
	height: 50px;
}

.title{
    margin: 20px 0;
    width: 100%;
    text-align: center;
    clear: both;
    float: left;
}

body{
	margin: 8px 0;
	font-style: italic;
	font: 12px 'Roboto', sans-serif;
}

div.bloco {
    float: left;
	width: 100%;
	border: 3px solid #6a6969;
	border-radius: 15px;
	clear: both;
	padding: 5px;
	margin-bottom: 10px;
}

div.limpa {
	clear: both;
}

.valor {
	color: red;
	font-weight: bold;
}

p.cores {
	width: 25%;
	float: left;
}

p.cores span {
	margin-right: 5px;
}
